.arreglo-hero-blog{
    height: 470px;
    max-width: fit-content;
    background-color: $color-6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}

.arreglo-img-blog-hero{
    height: 470px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.margen-cont-hero{
    margin-top: 150px;
}
.posicion-imagen-dest{
    display: flex;
   position: relative;
   z-index: 1; 
}
.posicion-span-left{
    display:flex;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: -335px;
    left: 0px;
}

.posicion-span-right{
    display:flex;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: -335px;
    right: 0px;
}