.bg-color-banner-contacto{
    background-color: $color-5;
    height: 385px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.bg-color-contacto-form{
    background-color: $color-5;
    border-radius: 10px;
    padding: 50px;
}