.bg-color-cv{
    background-color: $color-5;
    height: 385px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.visor-cv iframe,
.visor-cv embed,
.visor-cv object {
    width: 100%;
    min-height: 100vh;
}
