.metodologia-banner{
     background-image: url(../img/banner-met.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    z-index: 1;
    height: 500px;
    width: 100%;
}

.bg-color-hab{
    background-color: $color-5;
    padding: 50px;

}

.arreglo-img-hab-bl{
    height: 190px; 
    width: 190px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.bg-color-tecnicas-1{
background-color: $color-5;
height: 350px;
width: 290px;
border-radius: 10px;
padding: 20px;
}

.bg-color-tecnicas-2{
background-color: $color-6;
height: 350px;
width: 290px;
border-radius: 10px;
padding: 20px;
}

.carousel-control-prev-icon{
    color: $color-7 !important;
}

.carousel-control-next-icon{
    color: $color-7 !important;
}

.posicion-div-met{
    display: flex;
    position: relative;
    z-index: 1;
}

.posicion-met-1{
    position: absolute;
    z-index: 10;
}