.metodologia-banner{
     background-image: url(../img/banner-met.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    z-index: 1;
    height: 500px;
    width: 100%;
}

.bg-color-hab{
    background-color: $color-5;
    width: 100%;
}

.arreglo-img-hab-bl{
    height: 190px; 
    width: 190px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}