.imagen-destacada-arreglo {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.altura-row-proyectos {
    min-height: 270px;
}

.altura-div-filtros {
    height: 100px;
}

.altura-imaginaria {
    height: 200px;
}
