.imagen-destacada-arreglo{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.altura-div-destacada{
    height: 350px;
}

.altura-div-filtros{
    height: 500px;
}

.altura-imaginaria{
    height: 200px;
}